.header {
    padding: 0 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 90;
    &-wrap {
        width: 100%;
        max-width: 1640px;
        margin: 0 auto;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo {
        @media screen and (max-width: 1024px) {
            width: 200px;
        }
    }
    &-inner {
        flex: 0 0 1;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: 768px) {
            position: fixed;
            z-index: 90;
            top: 0;
            left: 0;
            display: flex;
            visibility: hidden;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transition: 0.3s ease-in-out;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.96);
        }
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    &-menu {
        display: flex;
        align-items: center;
        height: 100%;
        margin-right: 12px;
        @media screen and (max-width: 768px) {
            margin-right: 0;
            flex-direction: column;
            justify-content: center;
        }
        li {
            a {
                color: #fff;
                text-transform: uppercase;
                font-size: 22px;
                font-family: 'Roboto', serif;
                margin-left: 55px;
                letter-spacing: 0.06em;
                @media screen and (max-width: 1024px) {
                    font-size: 18px;
                    margin-left: 20px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 22px;
                    margin-left: 0;
                    padding: 20px;
                    display: block;
                }
            }
        }
    }
}



.hamburger {
    padding: 15px 20px;
    cursor: pointer;
    z-index: 99;
    display: none;
    background: none;
    border: 0;
    outline: 0;
    @media screen and (max-width: 768px) {
        display: block;
        position: fixed;
        padding: 5px;
        right: 20px;
    }
}

.hamburger-lines {
    display: block;
    height: 26px;
    width: 39px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        height: 20px;
        width: 30px;
    }
    .line {
        display: block;
        height: 2px;
        width: 100%;
        background: #fff;
        &:nth-of-type(1) {
            transform-origin: 0% 0%;
            transition: transform 0.4s ease-in-out;
        }

        &:nth-of-type(2) {
            transition: transform 0.2s ease-in-out;
        }

        &:nth-of-type(3) {
            transform-origin: 0% 100%;
            transition: transform 0.4s ease-in-out;
        }
    }

    &.active {
        .line {
            &:nth-of-type(1) {
                @media screen and (max-width: 1280px) {
                    transform: translate(3px, 0) rotate(34deg);
                }
            }
            &:nth-of-type(2) {
                transform: scaleY(0);
            }
            &:nth-of-type(3) {
                @media screen and (max-width: 1280px) {
                    transform: translate(3px, -2px) rotate(-34deg);
                }
            }
        }
    }
}

